<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="css/style1.css" />
<link rel="stylesheet" href="css/style2.css" />
</head>
<body>


<form action="admin/productos" class="formulario">
Introduce la contraseña de administrador:<br><br>

	Contraseña:<br>
	 <input type="password" name="pass-login-admin" value="123" class="input-form"/><br><br>
	<input type="submit" value="ACEPTAR" class="boton-identificarme"/>
</form>

</body>
</html>